.categoryList{
    margin: 35px 0 60px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .categoryItem{
        padding: 10px 25px;
        border-radius: 10px;
        font-size: 14px;
    }
    .categoryItem.style{
        background-color: rgb(165, 30, 161);
    }

    .categoryItem.fashion{
        background-color: #7fb88133;
    }

    .categoryItem.tech{
        background-color: rgb(30, 149, 19);
    }

    .categoryItem.travel{
        background-color: rgb(32, 172, 172);
    }
}