.navMenu{
    width: 100%;
    height: 100%;
}

.navMenuList{
    width: 100%; 
    height: 100%;
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap:20px;
}

.navMenuItemLink{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
}
.dropDownCont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropMenu{
    background-color: #ffff;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    visibility: hidden;
    line-height: 45px;
    min-width: 150px ;
    top: 15vh;
    position: absolute;
    transition: .3s ease;
}

.dropMenuItem{
    width: 100%;
    list-style: none;
    font-size: 17px;
    text-align: center;
    color:black;
}
.dropMenuItem:not(:last-child){
    border-bottom: 1px solid #e0dcd1;
}
.dropMenuItem:hover{
    text-decoration: underline;
    background-color: #ECECEC;
    color:#038003;
}

.dropMenuItemLink{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navMenuItem{
    height: 100%;
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.navMenuItem:hover{
    color:#038003;
    border-bottom: 5px solid #038003;
}

.navMenuItem.dark{
    color: #ffff;
}

.navMenuItem.dark:hover{
    color: #038003;
}

.navMenuItem:hover .dropMenu{
    top: 10vh;
    opacity: 1;
    visibility: visible;
}

.navMenuItem:hover .dropDownIcon{
    transform: rotate(180deg);
}

@media only screen and (max-width:1080px){
    .navMenuList{
        justify-content: center;
    }

}
