.container{
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
}

.listItem{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
}
.listItem:hover{
    background: #e6e1e1;
    border-radius: 3px;
}

.icon{
    font-size: 18px;
    color: #7451f8;
}

.listItemName{
    font-size: 13px;
    font-weight: 600;
    color: #888;
}

.dropdownLabel{
    font-size: 13px;
    font-weight: 600;
    color: #888;
}

.dropdownContainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 18px;
    color: #7451f8;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.1); */
}

.dropdownContainer:hover{
    background: #e6e1e1;
}

.dropdownMunuIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.treeChildContainer{
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.1);
    }
    

    