.container{
    background: #031A31;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
}

.listItem{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
}
.listItem:hover{
    background: #062e57;
    border-radius: 5px;
}

.icon{
    font-size: 18px;
    color: #7451f8;
}

.listItemName{
    font-size: 13px;
    font-weight: 600;
    color: #888;
}

.dropdownLabel{
    font-size: 13px;
    font-weight: 600;
    color: #888;
}

.dropdownContainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 18px;
    color: #7451f8;
    cursor: pointer;
}

.dropdownContainer:hover{
    background: #062e57;
    border-radius: 5px;
}

.dropdownMunuIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.treeChildContainer{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #042240;
    }
    

    