@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.container{
    flex: 2;
    border: 1px $color-grey-light-2 solid;
    border-radius: 10px;
    position: relative;
    position: sticky;
    top: 0; 
    right: 0; 
    height: max-content;

    @include lg{
        display: none;
    }
    .top{
        height: 20px;
        width: 100%;
        background-color: $color-tertiary-1;
        position: absolute;
        border-radius: 10px 10px 0 0 ;
    }

    .subTitle{
        padding: 20px 10px 10px 10px;
        color: $color-grey-light-1;
        font-size: 16px;
        font-weight: 400;
    }

    .title{
        border-bottom: 1px $color-grey-light-2 solid;
        padding: 10px;
        font-size: 20px;
    }

}