@import "../../styles/responsive.scss";

.container{
    flex: 2;
    margin-top: 60px;

    @include lg{
        display: none;
    }

    .subTitle{
        color: gray;
        font-size: 16px;
        font-weight: 400;
    }

    .title{
        font-size: 20px;
    }

}