.container{

    .title{
        margin: 50px 0;
    }

    .categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .category{
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;
        width: 15%;
        height: 80px;
        justify-content: center;
        border-radius: 10px;
        @media screen and (max-width: 1280px){
            width: 20%;
        }

        @media screen and (max-width: 1024px){
            width: 25%;
        }

        @media screen and (max-width: 768px){
            width: 45%;
        }

        @media screen and (max-width: 640px){
            width: 100%;
        }

        .img{
            border-radius: 50%;
        }
    }

    .category.style{
        background-color:#57c4ff31 ;
    }

    .category.travel{
        background-color:#18068b31 ;
    }

    .category.fashion{
        background-color:#c9134a31 ;
    }

    .category.tech{
        background-color:#2db30b3c ;
    }
}