@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.container{

    .title{
        margin: 5rem 0;
        font-size: 3.2rem;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 25px 10px 25px;
        position: relative;
        display: inline-block;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background: #ed6663;
        border-radius: 3px 3px 0 0 ;

        &::after{
            content: "";
            height: 1px;
            width: 1px;
            border-style: solid;
            border-width: 5px;
            position: absolute;
            bottom: -10px;
            left: 0;
            border-color: #d95451 #d95451 transparent transparent;
        }
    }

    .categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .category{
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: capitalize;
        width: 15%;
        height: 8rem;
        justify-content: center;
        border-radius: 1rem;
        color: $color-white;
        font-size: 1.5rem;

        @include respond(laptop){ 
            width: 20%;
          }
        
          @include respond(tablet){ 
            width: 25%;
            background-color: green;
          }

          @include respond(phone){ 
            width: 100%;
            background-color: green;
          }

        .img{
            border-radius: 50%;
        }
    }

    .category.style{
        background-color:$color-tertiary-6 ;
    }

    .category.travel{
        background-color:$color-tertiary-3 ;
    }

    .category.fashion{
        background-color: $color-tertiary-4;
    }

    .category.tech{
        background-color: $color-tertiary-2;
    }
}