.navbar{
    width: 100%;
    padding: 10px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;

    .left{
        width: 20%;
        .heading{
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        } 
    }

    .center{
        border-radius: 10px;
        margin: 5px;
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        border: 1px solid rgb(211, 211, 211);
        .searchinput{
            background-color: rgb(249, 249, 249);
            border: none;
            font-size: 14px;
            width: 90%;
            height:100%;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
            border-radius: 10px 0 0 10px;
        }

        .searchinput:focus{
                border: 1px solid rgb(255, 255, 255);
                transition: all ease;
                box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
        }
        .searchContainerBtn{
            background-color: rgb(216, 211, 211);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            height: 100%;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 0 5px 5px 0;
        }
        .searchIcon{
            color: #6439ff;
        }
        

    }

    .right{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            .profilepic{
                width: 26px;
                height:26px;
                border-radius: 50%;
                object-fit: contain;
            }
            .username{
                font-size: 14px;
                font-weight: bold;
        
            }
        }

        .notification{
            display: flex;
            position: relative;

            .number{
                background-color: red;
                color: #fff;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                right: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
            }
        }
    }
}
