.loading {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(90, 218, 16, 0.3);
    border-radius: 50%;
    border-top-color: rgb(25, 218, 83);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }