.ctaButton{
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: max-content;
  }

  .authLoginButton{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #4CAF50; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .authButton:hover{
    background-color: #45a049;
  }