@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.progressBar {
appearance: none;
margin: 0;
width: 100%;
position: fixed;
top: 100px;
left: 0;
height: .4rem;
background-color: inherit;
z-index: 999;
}

.progressBar::-webkit-progress-bar{
    background-color: transparent;
// background-color: $color-tertiary-8;
border-radius: 0 50px 50px 0; 
}
.progressBar::-webkit-progress-value{
background-color: $color-icons-3;
border-radius: 0 50px 50px 0; 
}

.progressBar::-moz-progress-bar{
background-color: $color-tertiary-4;
}