.navWrapper{
    line-height: 65px;
    width: 100%;
    height: 10vh;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0dcd1;
}

.left{
    width: 20%;
    height: 100%;
}

.center{
    width: 60%;
    height: 100%;
}

.cta{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.mobileLinks{
    display: none;
}
.mobileHamburgerCotainer{
    height: 50px;
    display: none;
}


@media only screen and (max-width:768px){
    .left {
        width: 20%;
    }

    .center {  
        display: none;
    }
    
    .cta{
        display: none;
    }

    .mobileHamburgerCotainer{
        display: block;
        z-index: 999;
    }
    .mobileAuth{
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mobileLinks{
        position: fixed;
        height: 100%;
        width: 100%;
        max-width: 350px;
        background: #FFFFFF;
        display: inline-block;
        top: 0;
        right: 0;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.972);
        transform: translateX(100%);
        z-index: 2;
        transition: .15s ease-in;
        opacity: 1;
    }

    .mobileLinks.showMenu{
        transform: translateX(0%);
    }

    .mobileLinks::-webkit-scrollbar{
        width: 0;
    };

}