@import "../../styles/responsive.scss";

.navWrapper{
    line-height: 65px;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20rem ;
    background-color: #fff;
    z-index: 1000;


    @include respond(laptop){
        padding: 0 10rem;
      }
    
      @include respond(tablet){
        padding:0 1rem;
      }
    
      @include respond(phone){
        padding:0 1.5rem;
      }
}
.container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0dcd1;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.logoLink{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    width: 60%;
    height: 100%;
}

.cta{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.mobileLinks{
    display: none;
}
.mobileHamburgerCotainer{
    height: 50px;
    display: none;
}

@media only screen and (max-width:768px){
    .left {
        width: 50%;
    }

    .center {  
        display: none;
    }
    
    .cta{
        display: none;
    }

    .mobileHamburgerCotainer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        z-index: 1000;
    }
    .mobileAuth{
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mobileLinks{
        position: fixed;
        height: 100%;
        width: 100%;
        max-width: 350px;
        background: #FFFFFF;
        display: inline-block;
        top: 0;
        right: 0;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.972);
        transform: translateX(100%);
        z-index: 999;
        transition: .15s ease-in;
        opacity: 1;
    }

    .mobileLinks.showMenu{
        transform: translateX(0%);
    }

    .mobileLinks::-webkit-scrollbar{
        width: 0;
    };

}