.categoryList{
    margin: 35px 0 60px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .categoryItem{
        padding: 10px 25px;
        border-radius: 10px;
        font-size: 14px;
        background-color: red;
    }
}