@import "../../../../styles/variables.scss";
@import "../../../../styles/responsive.scss";

.container{
    height: 40px;
    width: 100%;
    background-color: $color-secondary-dark-softBg;
    padding: 0 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;


    .searchBox{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 30px;
        width: 300px;
        position: relative;
        .input{
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            padding-left: 20px;
            border-radius: 10px;
            font-size: 14px;
            background-color: #fff;
        }

        .iconContainer{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon{
                height: 100%;
                padding: 5px;
                width: 40px;
                cursor: pointer;
                border-radius: 0 5px 5px 0;
                background-color: $color-grey-light-1;
                box-sizing: border-box;
                transition: .3s ease;
                &:hover{
                    background-color: $color-tertiary-1;
                }
            }

        }

    }

    @include respond(laptop){
        padding: 0 10rem;
      }

    @include respond(tablet){
        height: 100px;
        padding:0 1rem;
    }

    @include respond(tablet){
        display: none;
      }

      .social{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        .icon{
            cursor: pointer;
            border-radius: 50%;
            &:hover{
                opacity: .98;
            }
        }
    }

}