@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.container{
    margin-top: 3rem;

    .infoContainer{
        display: flex;
        align-items: center;
        gap: 50px;

        .textContainer{
            flex: 1;

            .title{
                font-size: 6.4rem;
                margin-bottom: 5rem;

                @include respond(laptop){
                    font-size: 5.4rem; 
                  }

                  @include respond(tablet){
                    font-size: 4rem; 
                  }
            }

            .user{
                display: flex;
                align-items: center;
                gap: 20px;

                .userImageContainer{
                    height: 50px;
                    width: 50px;
                    position: relative;

                    .avatar{
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .userTextContainer{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    color: $color-grey-light-1;
                }
            }
        }

        .imageContainer{
            flex: 1;
            height: 35rem;
            position: relative;

            @include respond(tablet){ //width < 900px
                display: none; //1rem = 8px, 8/16 = 50%
              }

            .image{
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }

    .content{
        display: flex;
        gap: 5rem;

        .post{
            flex: 5;
            margin-top: 60px;

            .description p{
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: 20px;
            }
        }
    }
}