.sidebar{
    flex: 1;
    border-radius: 3px;
    border: 1px solid rgb(215, 212, 212); 
    /* border-right: 0.5px solid rgb(215, 212, 212); */
    min-height: 100vh;

}

.top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 20px;
    font-weight: bold;
    color: #6439ff;
} 

.hr{
    height:0;
    border: 0.5px solid rgb(215, 212, 212);
}

.container:not(:last-child){
    border-bottom: 1px solid rgb(215, 212, 212);
}

.center{
    /* padding-left: 10px; */
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.title{
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
}



.listItem:hover{
    /* background-color: #ece8ff; */
}





/* Drop down */
.dropDown{
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.1);
    min-width: 150px;
    line-height: 45px;
    border-radius: 5px;
}

.dropMenuItem{
    width: 100%;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    color: #353333;
    padding:0 10px;
}
.dropMenuItem:hover{

    background-color: rgb(247,249,249);
}

.dropMenuItem:not(:last-child){
    border-bottom: 0.5px solid rgb(215, 212, 212);
}

.dropMenuItemLink{
    color: #888;
    display: flex;
    cursor: pointer;
}