@import "../../../styles/button.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/animation.scss";
@import "../../../styles/responsive.scss";

.container{
    padding: 0px 50px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;

    @include respond(laptop){
        padding:0 30px;
      }

    @include respond(tablet){
        padding:0 20px;
      }
      @include respond(phone){
        padding:0 10px;
      }

    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logoContainer{
            height:100px;
            width: 80%;
            position: relative;

            .logoImage{
                object-fit: cover;
            }
        }
    }

    .form{
        width: 100%;
        -webkit-animation: slit-in-vertical 0.45s ease-out both;
	    animation: slit-in-vertical 0.45s ease-out both;
    }

    .bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .login{
            display: flex;
            gap: 10px;

            .text{
                color:$color-grey-light-1
            }
        }

        .orCont{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .hr{
                width: 100%;
                height: 5px;
                border: 0;
                border-top: 1px solid $color-grey-light-1;
            }
    
            .orText{
                font-size: 14px;
                color: $color-grey-light-1;
                border-radius: 50%;
                border:1px solid $color-grey-light-1;
                padding: 5px;
            }
        }
    
        .socialLogin{
            border: .1rem solid $color-tertiary-3;
            outline: none;
            padding: 10px;
            width: 100%;
            min-height: 50px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-grey-light-1;
            gap: 20px;
            cursor: pointer;
            margin-bottom: 20px;
            transition: all 0.5s ease;
            
            .socialText{
                font-size: 1.6rem;
            }
            
            &:hover{
                transform: scale(1.03);
            }
        }
    
        .socialLogin.dark{
            background-color: inherit;
            &:hover{
                color: $color-tertiary-5;
            }
        }
    }
}