.footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    .footerText{
        font-size: 12px;
        font-weight: bold;
        color: rgb(187, 0, 255);
    }
}