.wrapper {
    text-align: center;
    width: 100%;
    display: flex;
}
@media only screen and (max-width:600px){
    .wrapper {  
        width: 100%;
        overflow-y: hidden;
    }
}

.container{
    height: 70vh;
    background-color: #ffff;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
}
@media only screen and (max-width:600px){
    .container {  
        width: 100%;
        margin: 0;
        height: 100%;
        border-radius: 0px;
        gap: 20px;
    }
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.inputCont{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 5px;
   
    
}
.input{
    border: none;
    width: 100%;
    height:50px;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    
}
.input:focus{
    border: 2px solid rgb(20, 57, 193);
    transition: all ease;
}

.inputLabel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.inputLabelName{
    position: absolute;
    bottom: 10px;
    left: 0px;
    transition: all .3s ease;
    padding-left: 10px;
    color: grey;
    font-size: 18px;
    
}

.input:focus + .inputLabel .inputLabelName,
.input:valid + .inputLabel .inputLabelName{
    transform: translateY(-80%);
    font-size: 14px;
    font-weight:700;
    color: blue;
    background-color: #ffff;
    padding: 5px;
    left: 5px;
}


.button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: rgb(3, 128, 3);
    color: #ffff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(3, 144, 3);
    transition: all .3s ease;
}

.register{
    display: flex;
    gap: 10px;
}

.orCont{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.hr{
width: 100%;
height: 5px;
border: 0;
border-top: 1px solid #d1d0d0;
}
.orText{
    font-size: 14px;
color: #555353;
}

.socialLogin{
border: 1px solid rgb(196, 192, 192);
padding: 0 10px;
width: 100%;
min-height: 50px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
cursor: pointer;
position: relative;
cursor: pointer;
background-color: rgb(224, 223, 219);
}

.socialLogin:hover{
background-color: rgb(227, 226, 221);
transition: all 0.5s ease;
}