.wrapper {
    width: 100%;
    display: flex;
}
@media only screen and (max-width:600px){
    .wrapper {  
        overflow-y: hidden;
    }
}

.container{
    background-color: #fff;
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.1);
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
    padding: 20px 50px;
    border-radius: 10px;
}

.container.dark{
    background-color:#031a31; 
}
@media only screen and (max-width:600px){
    .container {  
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.inputCont{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 5px;
   
    
}
.input.dark{
    color: #fff;
}
.input{
    border: none;
    width: 100%;
    height:50px;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    
}
.input:focus{
    border: 2px solid rgb(20, 57, 193);
    transition: all ease;
}

.input:valid{
    border: 1px solid green;
}

.inputLabel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.inputLabelName{
    position: absolute;
    bottom: 10px;
    left: 8px;
    transition: all .3s ease;
    color: grey;
    font-size: 18px;
}

.input:focus + .inputLabel .inputLabelName,
.input:valid + .inputLabel .inputLabelName{
    transform: translateY(-70%);
    font-size: 14px;
    font-weight:700;
    color: blue;
    background-color: #fff;
    padding: 5px;
    left: 5px;
}

.input:focus + .inputLabel.dark .inputLabelName.dark,
.input:valid + .inputLabel.dark .inputLabelName.dark{
    color: inherit;
    background-color: #031A31;
}

.register{
    display: flex;
    gap: 10px;
}

.orCont{
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.hr{
width: 100%;
height: 5px;
border: 0;
border-top: 1px solid #d1d0d0;
}
.orText{
font-size: 14px;
color: #aeabab;;
border-radius: 50%;
border:1px solid #ccc;
padding: 5px;
}

.socialLogin{
border: 1px solid rgb(196, 192, 192);
padding: 10px;
width: 100%;
min-height: 50px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
cursor: pointer;
background-color: rgb(224, 223, 219);
margin-bottom: 20px;
box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.socialLogin.dark{
background-color: #000C18;
}
.socialLogin.dark:hover{
background-color: #01162b;

}


.socialLogin:hover{
background-color: rgb(227, 226, 221);
transition: all 0.5s ease;
}