@import "./variables.scss";

.authLink{
    display: flex;

    .authButton{
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        background-color: $color-tertiary-1;
        color: #ffffff; 
        border-radius: .5rem;
        border: none;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover{
            background-color: #45a049;
            }
        }

        .ctaButton{
            padding: 1.6rem;
            cursor: pointer;
            background-color: $color-tertiary-1;
            border: none;
            color: $color-white;
            border-radius: .5rem;
            min-width: 10rem;
            width: max-content;
            font-size: 1.4rem;
            
            &:hover{
                background-color: #45a049;
            }
        }

        .preBtn{
            padding: 1.6rem;
            cursor: pointer;
            background-color: $color-tertiary-3;
            border: none;
            color: $color-white;
            border-radius: .5rem;
            min-width: 10rem;
            width: max-content;
            font-size: 1.4rem;
            &:before{
                content:"\25C0";
                margin-right: 10px;
                font-size: 1.6rem;
            }
            
            &:hover{
                opacity: .8;
            }
        }
        .nxtBtn{
            padding: 1.6rem;
            cursor: pointer;
            background-color: $color-tertiary-3;
            border: none;
            color: $color-white;
            border-radius: .5rem;
            min-width: 10rem;
            width: max-content;
            font-size: 1.4rem;
            &:after{
                content:"\25b6";
                margin-left: 10px;
                font-size: 1.6rem;
            }
            
            &:hover{
                opacity: .8;
            }
    }

        .readmoreLink{
            color: inherit;
            font-size: 1.4rem;
            outline: none;
            border: none;
            background-color: inherit;
            border-bottom: .1rem solid crimson;
            width: max-content;
            padding: .2rem 0rem;
            cursor: pointer;
            &:hover{
                color: $color-tertiary-1;
                border-bottom:.1rem solid $color-tertiary-1; 
            }
        }

}

.action{
    padding: 16px 20px;
    background-color: $color-tertiary-7;
    color: $color-white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        opacity: .8;
        
    }
}

.deleteButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .cancelButton{
        padding: 16px 20px;
        background-color: $color-tertiary-4;
        color: $color-white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            opacity: .8;
        }
    }
    .confirmButton{
        padding: 16px 20px;
        background-color: $color-tertiary-3;
        color: $color-white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            opacity: .8;
        }
    }
}