// colors
$color-primary-light:#FAFBFC;
$color-primary-light-softBg:#ECECEC;

$color-secondary-dark:#011222;
$color-secondary-dark-softBg:#031A31;

$color-black:#000;
$color-overlay:rgba(0, 0, 0, 0.5);
$color-box-shadow-light:rgba(0, 0, 0, 0.1);
$color-grey-dark: #2f2e2e;
$color-grey-light-1:#626262;
$color-grey-light-2: #ddd;
$color-white:#fff;
$color-red:#d90f0f;


$color-tertiary-1:#038003d9;
$color-tertiary-2:#BF4080;
$color-tertiary-3:crimson;
$color-tertiary-4:#007bff;
$color-tertiary-5:#22AD01;
$color-tertiary-6:#3a348c;
$color-tertiary-7:teal;
$color-tertiary-8:#b2f2e2;
$color-tertiary-9:#eaf6fd;
$color-tertiary-10:#FFF5E6;
$color-tertiary-11:#f4ecfe;
$color-tertiary-12:#ffdcd3;
$color-tertiary-13:#E6FFFC;


$color-icons-1:#00CCB6;
$color-icons-2:#72acf4;
$color-icons-3:#655ACC;
$color-icons-4:#FF9700;
$color-icons-5:#FF0071;
$color-icons-6:#FF7857;
$color-icons-7:#ed6663;
$color-icons-8:#d95451;






// DEFAULT FONTSIZE
$default-font-size:1.8rem;


