  /***************/
 /* light Theme */
/***************/
$color-primary-light:#FFFF;
$color-primary-light-softBg:#ECECEC;

// text
$color-secondary-dark:#000;
$color-secondary-light-softBg:#626262;



  /**************/
 /* Dark Theme */
/**************/
$color-primary-dark:#011222;
$color-primary-dark-softBg:#052c51;

$color-secondary-light:#ddd;
$color-secondary-dark-softBg:#a6a6a6;



// Buttons
$color-secondary-dark-softBg:#068106;


