  /***************/
 /* light Theme */
/***************/
$color-primary-light:#FFFF;
$color-primary-light-softBg:#ECECEC;

$color-secondary-light:#f0f0f0;
$color-secondary-light-softBg:#626262;

$color-tertiary-light:#000;




  /**************/
 /* Dark Theme */
/**************/
$color-primary-dark:#011222;
$color-primary-dark-softBg:#052c51;

$color-secondary-dark:#1f273a;
$color-secondary-dark-softBg:#a6a6a6;

$color-tertiary-dark:#ddd;


// Buttons
$color-secondary-dark-softBg:#068106;

