@import "../../../styles/variables.scss";


.items{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    &:not(:last-child){
    border-bottom: 1px solid $color-grey-light-2;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 20px;

        .imageContainer{
            flex: 1;
            aspect-ratio: 1/1;
            position: relative;

            .image{
                object-fit: cover;
                border-radius: 50px;
                border: 3px solid lightgray;
            }
        }

        .textContainer{
            flex: 4;
            display: flex;flex-direction: column;
            gap: 5px;

            .category{
                padding: 3px 8px;
                border-radius: 10px;
                font-size: 12px;
                color: #fff;
                width: max-content;
            }
            .category.travel{
                background-color: #ff7857;
            }

            .category.fashion{
                background-color: #137d2c;
            }

            .category.tech{
                background-color: #ba14a7;
            }

            .category.style{
                background-color: #ff5757;
            }

            .postTitle{
                font-size: 18px;
                font-weight: 500;
            }
            .detail{
                font-size: 12px;
                .date{
                    color: gray;
                }
            }
        }
    }
}