@import "../../styles/variables.scss";
@import "../../styles/button.scss";

.container{
    width: 100%;
    margin-top:50px;

    .title{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 30px;
        border-bottom: 1px solid $color-grey-light-2;
    }
    .write{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;  
        
        .input{
            padding: 20px;
            width: 100%;
        }
    }

    .comments{
        margin-top: 50px;
        

        .comment{
            margin-bottom: 50px;
            width: 100%;
            

            .user{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;

                .image{
                    object-fit: cover;
                    border-radius: 50%;

                }

                .userInfo{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    color: $color-grey-light-1;

                    .userName{
                        font-weight: 500;
                    }

                    .date{
                        font-size: 14px;
                    }
                }
            }

            .description{
                margin-left: 60px;
                border-radius: 15px;
                font-size: 18px;
                font-weight: 300;
                padding: 10px;
                box-sizing: border-box;
                max-width: 100%;
            }
        }
    }

}