@import "../../styles/button.scss";
@import "../../styles/variables.scss";

.authStatusCont{

    .button{
        width: max-content;
        height: max-content;
    }
    .authCont{
        .write{
            padding:.5rem;
            margin-right:.5rem;
            border-radius:1rem;
            border: .2rem solid $color-tertiary-3;
            &:hover{
                color:green;
                border: .2rem solid green;
            }
            @media only screen and (max-width:768px){
                display: none;
            
            }

        }
        .logout{
            cursor:pointer;
            padding:.5rem;
            &:hover{
                color:green;
            }
        }
    }
}
