@import "../../styles/button.scss";
@import "../../styles/variables.scss";

.authStatusCont{

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
    }
    .authCont{
        .write{
            color: $color-tertiary-4;
            padding:.5rem;
            margin-right:.5rem;
            border-radius:1rem;
            border: .1rem solid $color-tertiary-4;
            &:hover{
                color:green;
                border: .2rem solid green;
            }
            @media only screen and (max-width:768px){
                display: none;
            
            }

        }
        .logout{
            cursor:pointer;
            padding:.5rem;
            &:hover{
                color:green;
            }
        }
    }
}
