.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.input{
    background-color: inherit;
    width: 400px;
    cursor: pointer;
    color: grey;
    border:none;
    outline: none;
    display: flex;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #636364;
}

.input::placeholder{
    color: grey;
}

.input:focus{
    border: 1px solid #069317;
}

.errorMessage{
    width: 400px;
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.input:invalid[list = "true"] ~ .errorMessage{
    display: block;
}

.input:invalid[list = "true"]{
    border: 1px solid red;
}